@using CoffeeShopManagement.Models;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<SanPham>

@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Danh sách sản phẩm</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Giá tiền
            </th>
            <th>
                Ảnh
            </th>

            <th>
                Menu
            </th>
            <th>
                Size
            </th>
            <th>
                Topping
            </th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Images)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.IdMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdTopping)
                </td>

                <td>
                    <button class="btn btn-success">
                        <a asp-action="Edit" asp-route-idSanPham="@item.IdSanPham">Sửa</a>
                    </button>
                    <button class="btn btn-primary">
                        <a asp-action="Details" asp-route-id="@item.IdSanPham">Chi tiết</a>
                    </button>
                    <button class="btn btn-danger">
                        <a asp-action="Delete" asp-route-id="@item.IdSanPham">Xóa</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model,page => Url.Action("DanhMucSanPham", new {page = page}), new
 X.PagedList.Web.Common.PagedListRenderOptions(){
    LiElementClasses = new List<String> {"page-item"},
    PageClasses = new List<String> {"page-link"}
})




